*{
  padding: 0;
  margin: 0;
  font-family: helvetica;
  line-height: 1em;
}

a{
  color: #027dff;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

a img{
  border: 0;
}

a:visited{
  color: #8fd92a;
}

body{
  padding: 25px;
}

#title{
  width: 100%;
  height: 100px;
  background: #eee;
  margin-bottom: 20px;
}

#container{
  margin: 0 auto;
  width: 1140px;
}

#left_column{
  width: 300px; 
  height: 500px; 
  float: left;
}

.section{
  margin: 5px;
  //border-top: 2px solid black;
}

#lessthan140{
  width: 300px;
  min-height: 300px;
  float: left;
}

#main_attraction{
  width: 500px;
  min-height: 450px;
  float: left;
}

#caption_bar{
  height: 30px; 
  width: 100%; 
  position: absolute; 
  background: black; 
  opacity: 0.5; 
  bottom: 0; 
  color: white; 
  font-size: 1.2em; 
  font-weight: bold; 
  line-height: 1.5em;
}

#caption_text{
  height: 30px; 
  width: 100%; 
  position: absolute; 
  opacity: 1; 
  bottom: 0; 
  color: white; 
  font-size: 1.3em; 
  line-height: 1.5em;
}

#main_image{
  width: 500px;
  height: 300px;
  background: #01d;
  cursor: pointer;
  position: relative
}

.active_tag{
  background: url(../images/active.png); 
  float: left; 
  margin-left: 10px; 
  height: 16px; 
  width: 47px;
}

#github{
  width: 300px;
  min-height: 200px;
  float: left;
}

#media{
  width: 300px;
  height: 240px;
  float: left;
}

.header{
  font-family: futura;
  height: 24px;
  width: 100%;
  font-size: 1.5em;
  //border-top: 2px solid black;
  //border-bottom: 1px solid black;
  padding-bottom: 20px;
  background: white;
  color: #000;
}

.pleet_header{
  padding-left: 7px;
  opacity: 1;
}

.pleet{
  width: 95%;
  margin-bottom: 15px;
  //    border-left: 2px solid red;
  padding-left: 7px;
}

.github_project{
  height: 20px;
  //    border-left: 2px solid yellow;
  padding-left: 7px;
  margin-bottom: 5px;
}

.flickr_thumbnail{
  float: left;
  cursor: pointer;
}

.article{
  min-width: 450px;
  width: 100%;
  height: 20px;
  font-size: 1.2em;
  padding-left: 10px;
  padding-top: 10px;
  //    background: #eee;
}

.article_date{
  color: #aaa; 
  float: right; 
  margin-right: 20px;
}

#about{
  height: 80px;
  width: 250px;
  float: left;
  background: #eee;
  margin-top: 20px;
  margin-left: 7px;
  padding: 10px;
  color: #777;
}