#github.section
  .header 
    %b //
    git
    %b{ :style => 'ff7b00'} hub
  - @github_projects.each do |ghp|
    .github_project
      %a{ :href => ghp, :style => 'float: left;' }= ghp.name
      - if ghp.active?
        .active_tag active
