#lessthan140.section
  .header
    %b //
    less
    %b{ :style => 'color: #ff7b00;'}> than
    140
  - @pleets.each do |pleet|
    .pleet_header
      %a{ :href => Pleet.url_for(pleet) }
        %b= pleet.author
      %span{ :style => 'color: #888;' } 
        %i= pleet.time
    .pleet
      = pleet.msg
