#lessthan140.section
  .header
    %b //
    less
    %b{ :style => 'color: #ff7b00;'}> than
    140
  - @pleets.each do |pleet|
    .pleet_header
      %a{ :href => pleet.uri }
        %b= pleet.author
      %span{ :style => 'color: #888;' }
        %i= (time_ago_in_words(pleet.time) + " ago").gsub(" ",".")
    .pleet
      = pleet.msg.gsub(pleet.author + ' ','')
