!!!
%html{ :xmlns => 'http://www.w3.org/199/xhtml', :'xml:lang' => 'en', :lang => 'en'}
  %head
    %meta{ :'http-equiv' => 'content-type', :content => 'text/html', :charset => 'UTF-8'}
    %title= controller.controller_name + ': ' + controller.action_name
    = styleshet_link_tag 'awesome'
    = javascript_include_tag 'jquery-1.3.2.js'
  %body
    %title{ :style => 'font-size: 3em; text-align: center;' } We've just moved to a new version and have some cleaning up to do. Say, about, 2 days?
    = yield