<h1>Editing attraction</h1>

<% form_for(@attraction) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @attraction %> |
<%= link_to 'Back', attractions_path %>